<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>后台管理系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/css/admin/style.css" rel="stylesheet" type="text/css" />
</head>

<div class="menu" style="margin:0;">
	<div class="menu-top"></div>
    <div class="menu-mid">
    	<ul>
        	
			{%foreach from=$g_show.priv_ary item=vo key=key%}
				
						{%foreach from=$vo item=v%}
						<li><a target="main-frame" href="{%if $v.sidebar%}{%$v.sidebar%}{%else%}{%$v.priv_link%}{%/if%}" title="{%$v.priv_name%}">{%$v.priv_name%}</a></li>
						{%/foreach%}
					
				{%/foreach%}
        </ul>
    </div>
    <div class="menu-bot"></div>
</div>

</html>

			