.wrap .friend-list{zoom:1;}
.wrap .points-info .line{_top:-21px; _margin-bottom:-21px; z-index:-1;}
.a-btn{_display:inline;}
.wrap .user-info-edit table .tips-left .icon-tips{right:auto; top:auto; margin-left:3px; margin-top:3px;}
